--- 
layout: layout-page.njk
title: Acerca
description: Meta descripción de la acerca de mí
---
<h1>{{ title }}</h1>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptatibus reprehenderit voluptatem! Reprehenderit perferendis numquam, et doloribus est delectus corporis? Veniam corporis quaerat veritatis eaque sit non error impedit ipsum!
</p>
<img src="/img/eleventy-mascots.avif" alt="Mascota 11ty">