--- 
layout: layout-page.njk
title: Página de inicio
description: Meta descripción de la página de inicio
---
<h1>{{ title }}</h1>

<p>
    Hola, este es un <i>starter project</i> animalista para crear sitios web estáticos con <b><i>11ty</i></b> y desplegarlos en <i>Github pages</i>.
</p>
<div>
    <img src="/img/eleventy.svg" alt="Eleventy">
    <h2>+</h2>
    <img src="/img/github.svg" alt="Github icon">
</div>
<hr>
<h2>{{ site.message }}</h2>
